@font-face {
    font-family: 'RDR Gothica';
    src: url('../fonts/RDR/RDRGothica-Regular.eot');
    src: url('../fonts/RDR/RDRGothica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RDR/RDRGothica-Regular.woff2') format('woff2'),
        url('../fonts/RDR/RDRGothica-Regular.woff') format('woff'),
        url('../fonts/RDR/RDRGothica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RDR Catalogue';
    src: url('../fonts/RDR/RDRCatalogueBold-Bold.eot');
    src: url('../fonts/RDR/RDRCatalogueBold-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RDR/RDRCatalogueBold-Bold.woff2') format('woff2'),
        url('../fonts/RDR/RDRCatalogueBold-Bold.woff') format('woff'),
        url('../fonts/RDR/RDRCatalogueBold-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RDR Lino';
    src: url('../fonts/RDR/RDRLino-Regular.eot');
    src: url('../fonts/RDR/RDRLino-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RDR/RDRLino-Regular.woff2') format('woff2'),
        url('../fonts/RDR/RDRLino-Regular.woff') format('woff'),
        url('../fonts/RDR/RDRLino-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hapna Slab Serif';
    src: url('../fonts/RDR/HapnaSlabSerif-DemiBold.eot');
    src: url('../fonts/RDR/HapnaSlabSerif-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RDR/HapnaSlabSerif-DemiBold.woff2') format('woff2'),
        url('../fonts/RDR/HapnaSlabSerif-DemiBold.woff') format('woff'),
        url('../fonts/RDR/HapnaSlabSerif-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Redemption';
    src: url('../fonts/RDR/Redemption.eot');
    src: url('../fonts/RDR/Redemption.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RDR/Redemption.woff2') format('woff2'),
        url('../fonts/RDR/Redemption.woff') format('woff'),
        url('../fonts/RDR/Redemption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body {
	overflow-x: auto;
	overflow-y: auto;
}*/

.menu {
	font-family: 'Redemption';
	min-width: 500px;
	max-height: 700px;
	color: #fff;
	position: absolute;
	background-color: transparent;
	/*z-index: -1;*/
	padding-bottom: 1em;
}

.menu_bg {
	background-color: transparent;
	background-image: url('../img/menu_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: brightness(0.0) sepia(0) saturate(0%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -2;
	opacity: 0.85;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .head {
	background-color: transparent;
	text-align: center;
	height: 5em;
	line-height: 1em;
	padding-top: 1em;
}

.head_bg {
	background-color: transparent;
	background-image: url('../img/menu_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: brightness(0.5) sepia(1) saturate(10000%);
	width: 100%;
	height: 100%;
	max-height: 5em;
	position: absolute;
	top: 0;
	z-index: -1;
}

.menu .head h1 {
	margin-top: 0;
	z-index: 2;
	color: white;
	filter: none;
}

.menu .head span {
	font-weight: normal;
	font-size: 1.5em;
}

.menu .menu-items {
	position: relative;
	max-height: 500px;
	overflow-y: auto;
}

.menu .menu-items .menu-item {
	font-family: 'Hapna Slab Serif';
	height: 2em;
	display: block;
	background-color: transparent;
	height: 2em;
	line-height: 2em;
	font-size: 1.3em;
	color: white;
	text-align: left;
}

.menu .menu-items .menu-item span {
	margin-left: 2em;
}

.menu .menu-items .menu-item img.sub-menu {
	float: right;
	margin-right: 2em;
	max-height: 1.3em;
	vertical-align: middle;
	margin-top: 0.3em;
}

.menu .menu-items .menu-item.selected::before {
	background-color: transparent;
	background-image: url('../img/menu_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: brightness(0.5) sepia(1) saturate(10000%);
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	margin-bottom: -2em;
	z-index: -1;
}

.menu .menu-items .menu-item.selected,
.menu .menu-items .menu-item.selected span {
	background-color: transparent !important;
	/*z-index: 2 !important;*/
	font-weight: normal !important;
	color: black !important;
	font-family: 'RDR Lino' !important;
}

.menu .menu-items .menu-item.selected span {
	position: relative;
	width: 91.5%;
}

.menu .menu-items .menu-item.selected img.sub-menu {
	filter: brightness(0.0) sepia(1) saturate(0%);
}

.menu .menu-border {
	font-family: 'Hapna Slab Serif';
	height: 2em;
	background-color: transparent;
	line-height: 2em;
	font-size: 1.3em;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	text-align: center;
}

.menu .menu-border span {
	position: absolute;
	margin-left: -1em;
}

.menu .menu-border::before {
	background-color: transparent;
	background-image: url('../img/menu_bg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: brightness(0.3) sepia(1) saturate(0%);
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	margin-bottom: -2em;
	z-index: -1;
}

.menu .menu-description {
	font-family: 'Hapna Slab Serif';
	display: block;
	background-color: transparent;
	height: auto;
	line-height: 1em;
	font-size: 1em;
	color: white;
	padding: 1em;
	text-align: center;
}